@model IEnumerable<BankingSystem.Models.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Account Number
        </th>
        <th>
            Balance
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Balance)
    </td>
    <td>
        @Html.ActionLink("Send Money", "Transact", new { id = item.ID })
    </td>
    <td>
        @Html.ActionLink("Statement", "Statement", new { id = item.ID})
    </td>
</tr>
}

</table>
