@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-6">
        @Html.ActionLink("Employee Login", "Login", "Employees")
    </div>
    <div class="col-6">
        @Html.ActionLink("Customer Login", "Login", "Customers")
    </div>  
</div>

