@model IEnumerable<BankingSystem.Models.Employee>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-4">
        @Html.ActionLink("Create customer", "Create", "Customers")
    </div>
    <div class="col-4">
        @Html.ActionLink("Search customer", "Search", "Employees")
    </div>
    <div class="col-4">
        @Html.ActionLink("Logout", "Logout", "Home")
    </div>
</div>